@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
    --pinol-accent-color: #fe8019;
    --pinol-background-color: #fbf1c7;
    --pinol-text-color: #282828;
}

* {
    font-family: "Poppins", sans-serif;
    color: var(--pinol-text-color);
}

body {
    background-color: var(--pinol-background-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --pinol-accent-color: #af3a03;
        --pinol-background-color: #282828;
        --pinol-text-color: #fbf1c7;
    }
}
